* {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: rgb(45, 45, 50);
}

.navbar {
  width: 99%;
  height: 100px;
  margin: 10px;
  background-color: rgb(183, 181, 192);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.font_zeta {
  width: 350px;
  height: 200px;
  margin-top: -50px;
}

.btn_nav {
  font-size: 40px;
    
  margin: 20px 50px;
}

.

